<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
  </head>
  <body>
    <%- include("./partials/header") %>

    <main>
      <div class="container mx-auto">
        <h1 class="text-4xl font-bold mb-5">Home</h1>

        <p>You Are LogedIn....</p>
      </div>
    </main>
  </body>
</html>
